# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = false

# C# files
[*.cs]

# Suppress warning
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.NU5100.severity = none
